# os:
#   - osx
#   - linux
jobs:
  include:
    - os: linux
      dist: bionic
    - os: linux
      dist: bionic
      rust: nightly
    - os: osx
    - os: windows
language: rust
node_js:
  - node
  - 12
  - 10
  - 8
cache: cargo
env: 
  matrix:
    - $TRAVIS_NODE_VERSION=node
before_install:
  # install node
  - |
    if [ "$TRAVIS_OS_NAME" == "windows" ]; then
        export NVS_HOME=$ProgramData/nvs
        git clone --single-branch https://github.com/jasongin/nvs $NVS_HOME
        source $NVS_HOME/nvs.sh
        nvs --version
        nvs add $TRAVIS_NODE_VERSION && nvs use $TRAVIS_NODE_VERSION 
    else
        curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.0/install.sh | bash
        nvm install $TRAVIS_NODE_VERSION && nvm use $TRAVIS_NODE_VERSION
    fi
  # Install global NPM packages
  - node -v
  - npm -v
  - npm install -g yarn
  - yarn global add yarn@latest
  - yarn
  # - npm install
script:
  - yarn test
  # Publish when using '[publish binary]' keywords
  - COMMIT_MESSAGE=$(git log --format=%B --no-merges -n 1 | tr -d '\n')
  - if [[ ${COMMIT_MESSAGE} =~ "[publish binary]" ]]; then yarn upload-binary || exit 0; fi;
